.firstNumber,
.secondNumber,
.resultNumber {
  display: block;
  width: 70%;
  margin-inline: auto;
  margin-block: 15px;
  border-radius: 20px;
  border: 2px solid #87cefa;
  height: 30px;
  outline: none;
  padding-block: 5px;
}
.resultNumber {
  padding-left: 10px;
}
.firstNumber:focus,
.secondNumber:focus {
  border: 2px solid #87cefa;
  outline: none;
}
.firstNumber::placeholder,
.secondNumber::placeholder {
  padding: 20px;
  color: lightgrey;
  font-size: 15px;
  font-weight: 500;
}

.inputs {
  width: 50%;
  padding: 40px 0;
  box-shadow: 4px 4px 4px 4px lightblue;
}
.submit {
  width: 50%;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-inline: auto;
  background-color: #4169e1;
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit:hover {
  background-color: rgba(65, 105, 225, 0.95);
}
.form {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
